languaje: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.8.5
install:
  - sudo apt-get install python-dev
  - sudo pip install --upgrade pip
  - sudo pip install Django
  - sudo python setup.py install
before_install:
  - cd /AppIV/ProyectoIV
script:
  - sudo python manage.py test

